#div_main{
    height : 100%;
    width : 100%;
    font-family : Helvetica;
    color : #680775;
    position : fixed;
    overflow-x : scroll;
    overflow-y : scroll;
}
#div_title{
    width : 100%;
    text-align : center;
}
#div_existing_rooms{
    float : left;
    height : 100%;
    width : 50%;
    font-size : 24px;
    text-align : center;
}
#list_rooms{
    height : 60%;
    width : 60%;
    font-size : 14px;
    overflow-y : scroll;
}
#div_manage{
    float : right;
    height : 100%;
    width : 50%;
    text-align : center;
    margin-top : 50px;
}
button{
    height : 75px;
    width : 200px;
    font-size : 14px;   
    text-shadow : 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius : 5px;
}
label{
    font-size : 14px;
}