#div_main{
    height : 100%;
    width : 100%;
    font-family : Helvetica;
    color : #680775;
    position : fixed;
    overflow-x : scroll;
    overflow-y : scroll;
}
#div_title{
    width : 100%;
    text-align : center;
}
#div_usersbox{
    width : 30%;
    height : 100%;
    float : left;
    text-align : center;
}
#list_users{
    width : 90%;
    height : 60%;
    overflow-x : scroll;
    overflow-y : scroll;
    font-size : 14px;
    border-style : solid;
    border-width : 2px;
    border-color : #680775;
}
#div_msgbox{
    width : 70%;
    height : 100%;
    float : right;
    text-align : center;
}
#list_msgs{
    width : 90%;
    height : 60%;
    overflow-x : scroll;
    overflow-y : scroll;
    font-size : 14px;
    border-style : solid;
    border-width : 2px;
    border-color : #680775;
}